.btn, .navTop__submit, .novedades__submit, .enviar,
.limpiar {
  border-radius: 5px;
  background: transparent;
  border: 1.5px solid #c79fe7;
  transition: .2s; }
  .btn:hover, .navTop__submit:hover, .novedades__submit:hover, .enviar:hover,
  .limpiar:hover {
    background-color: #c79fe7;
    color: white; }

.input-text, .navTop__buscador, .novedades__email {
  border: 1px solid rgba(0, 0, 0, 0.705);
  color: #ba8be0;
  font-weight: bold;
  border-radius: 2px;
  transition: all .15s; }
  .input-text:focus, .navTop__buscador:focus, .novedades__email:focus {
    box-shadow: 1px 1px 5px 2px #c79fe7;
    background-color: #ffffff; }

.card-general, .card-size {
  width: 65%;
  margin: auto;
  margin-bottom: 40px; }

.card-individual, .card-body {
  padding: 15px; }

.card-titulo, .card-title {
  font-size: 18px;
  text-align: center; }

.card-texto, .card-text {
  font-size: 14px;
  text-align: justify; }

.center {
  text-align: center; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn", serif; }
  *::selection {
    color: #ffffff;
    background-color: #a061d4; }

body {
  background-color: #fff7f3; }

header {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20; }

a {
  text-decoration: none; }

.corporal__title--font,
.capilar__title--font,
.facial__title--font,
.contacto__title--font {
  color: #C8E6C9;
  text-align: center;
  font-size: 3.0em;
  font-weight: bold; }
  @media only screen and (width: 767px) {
    .corporal__title--font,
    .capilar__title--font,
    .facial__title--font,
    .contacto__title--font {
      font-size: 2.125rem; } }

.corporal__title,
.capilar__title,
.facial__title,
.contacto__title {
  margin: 30px 0;
  padding: 10px; }

.card {
  border-radius: 20px;
  margin-bottom: 50px;
  border: none;
  box-shadow: 1px 1px 10px #808080; }

.card-img-top {
  border-radius: 20px 20px 0 0; }

.izq {
  margin-right: 30px; }

.der {
  margin-left: 30px; }

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold; }

.card-text {
  font-size: 15px; }

/* BARRA DE NAVEGACION DESKTOP/TABLET */
/* Superior */
.navTop {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 3fr 1fr;
  grid-template-rows: auto auto;
  z-index: 20; }
  .navTop__buscador {
    align-self: start;
    margin: 0.625em;
    background-color: #fddfdf96;
    opacity: .8;
    width: 11.875em;
    height: 1.875em; }
  .navTop__submit {
    width: 6.25em;
    height: 1.875em;
    margin: 0.625em 0; }
  .navTop__logo {
    width: 70%;
    min-width: 280px;
    justify-self: center; }
  .navTop__miCuenta {
    justify-self: end;
    margin: 0.625em;
    color: #000000;
    border-bottom: 1.5px solid #c79fe7;
    height: 1.5625em;
    text-decoration: none;
    transition: all .18s; }
    .navTop__miCuenta:hover {
      text-shadow: 0.125em 0.125em 0.3125em #c79fe7;
      color: #c79fe7;
      text-decoration: none;
      font-size: 1.0625em;
      border-bottom: 1px solid black; }
  .navTop__carrito {
    justify-self: center;
    margin: 0.625em;
    color: black;
    border-bottom: 0.0938em solid #c79fe7;
    height: 1.5625em;
    text-decoration: none;
    transition: all .18s; }
    .navTop__carrito:hover {
      text-shadow: 0.125em 0.125em 0.3125em #c79fe7;
      color: #c79fe7;
      text-decoration: none;
      font-size: 1.0625em;
      border-bottom: 1px solid black; }

@media only screen and (max-width: 767px) {
  .navTop {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
    .navTop__submit, .navTop__miCuenta, .navTop__carrito {
      display: none; }
    .navTop__logo {
      max-width: 21.875em;
      min-width: 200px;
      margin: 10px 0; }
  .navbar-desktop {
    display: none; } }

/* Inferior */
.navBt {
  font-size: 1.6rem;
  z-index: 20;
  background-color: #FDDFDF;
  opacity: 0.8;
  text-align: center;
  padding: 0.625em;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0; }

.navBt ul {
  margin-bottom: 0%; }

.navBt ul li {
  display: inline-block;
  font-weight: 700; }

.navBt ul .active {
  border: 0.125em dotted #fff7f3;
  color: white;
  border-radius: 7px; }

.navBt ul li:hover {
  border-radius: 0.1875em;
  text-shadow: 0.125em 0.125em 0.3125em;
  color: white; }

.navBt ul li a {
  list-style: none;
  text-decoration: none;
  margin: 0.9375em;
  padding: 0.4375em;
  font-size: 2.125rem;
  color: #c79fe7; }

/* BARRA DE NAVEGACION MOBILE */
.navbar-mobile {
  background-color: #ffffff;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .navbar-mobile {
      display: none; } }

.navbar-toggler {
  background-color: #FDDFDF;
  width: 13%;
  height: 10%;
  margin-right: 10px; }

.navbar-toggler-icon {
  width: 100%;
  height: 25px; }

a.nav-link {
  color: #c79fe7 !important;
  font-size: 18px; }

#navbarNav {
  background-color: #FDDFDF; }

@media only screen and (min-width: 768px) {
  .parallaxMobile {
    display: none; }
  .parallax {
    font-size: 1.6rem;
    width: 100%;
    background-image: url(../assets/img/nature.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .parallax__title {
      text-align: center;
      padding: 140px 0 25px;
      font-size: 3.375rem;
      color: papayawhip;
      text-shadow: 2px 2px 15px black; }
    .parallax__text {
      text-align: center;
      color: rgba(255, 239, 213, 0.842);
      text-shadow: 2px 2px 15px black;
      font-size: 2.75rem; } }

@media only screen and (max-width: 767px) {
  .parallax {
    display: none; }
  .parallaxMobile {
    font-size: 1.6rem;
    width: 100%;
    background-image: url(../assets/img/natmobile.jpg);
    height: auto;
    background-repeat: no-repeat; }
    .parallaxMobile__title {
      text-align: center;
      padding: 55px 0 0;
      font-size: 20px;
      color: #ffefd5;
      text-shadow: 2px 2px 15px black; }
    .parallaxMobile__text {
      text-align: center;
      color: #ffefd5d7;
      text-shadow: 2px 2px 15px black;
      font-size: 18px;
      margin-bottom: 0;
      padding-bottom: 15px; } }

.prodDest {
  font-size: 1.6rem;
  max-width: 43.75em;
  z-index: 10; }
  .prodDest__text {
    font-size: 2.425rem;
    margin: 30px 0px;
    padding: 10px;
    text-align: center;
    color: #C8E6C9;
    text-shadow: 0.110em 0.110em 0.07em #85bd87;
    letter-spacing: 0.125em;
    word-spacing: 0.5em; }
    @media only screen and (max-width: 767px) {
      .prodDest__text {
        font-size: 2.125rem; } }

.carousel-title {
  font-size: 2.25rem;
  text-shadow: 1px 1px 10px black; }

.carousel-text {
  font-size: 1.8125rem;
  text-shadow: 0px 0px 10px black; }

.verMas {
  font-size: 1.6rem;
  margin: 1.25em auto;
  padding: 0.25em;
  border-radius: 0.3125em;
  text-align: center;
  border: 0.3125em double #adadad;
  display: block;
  background-color: #FDDFDF;
  position: relative;
  width: 11.25em; }
  .verMas__link {
    color: #c79fe7;
    font-weight: bold;
    transition: all .18s; }
    .verMas__link:hover {
      text-shadow: 2px 2px 5px #c79fe7;
      color: #c79fe7;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.125em; }

.novedades {
  background-color: #fddfdf6b;
  width: 100%;
  height: 108px;
  font-size: 1.6rem;
  padding: 0 0 0 0;
  text-align: center; }
  .novedades__text {
    font-size: 2.125rem;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 2.1em; }
  .novedades__email {
    color: #ba8be0;
    font-weight: bold; }
  .novedades__submit {
    width: 7.1875em;
    height: 1.875em;
    margin-left: 0.625em; }

@media only screen and (min-width: 1024px) {
  .novedadesMobile {
    display: none; } }

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .novedadesMobile {
    display: none; } }

@media only screen and (max-width: 767px) {
  .novedades {
    display: none; }
  .novedadesMobile {
    font-size: 1.6rem;
    display: block;
    text-align: center;
    margin: 3.125em 0; }
    .novedadesMobile__texto {
      font-size: 1.8125rem;
      text-align: center; } }

.footer {
  background-color: #FDDFDF;
  padding: 30px 0; }

.footer.row {
  display: flex;
  flex-wrap: wrap; }

.footer-container {
  max-width: 1170px;
  margin: auto; }

.contactanos h4,
.redes h4 {
  color: #c79fe7;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 18px; }

@media only screen and (min-width: 1024px) {
  .contactanos__mail,
  .contactanos__ws {
    font-size: 1.6rem;
    padding-left: 100px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contactanos__mail,
  .contactanos__ws {
    font-size: 1.6em;
    padding-left: 50px; } }

@media only screen and (max-width: 767px) {
  .contactanos__mail,
  .contactanos__ws {
    font-size: 1.6em;
    text-align: center;
    padding-left: auto; } }

@media only screen and (max-width: 767px) {
  .contactanos__ws {
    margin-bottom: 30px; } }

.contactanos,
.redes {
  padding: 0 100px; }

.contactanos ul,
.redes ul {
  list-style: none;
  margin-bottom: 0; }

.contactanos ul li a,
.redes ul li a {
  text-decoration: none;
  color: #000000;
  transition: all .4s ease; }

.mail-link:hover {
  padding-left: 8px;
  font-weight: bold; }

.ws-link:hover {
  padding-left: 8px;
  font-weight: bold; }

.redes__lista {
  display: flex;
  justify-content: space-evenly; }

.fb-icon:hover {
  transform: translateY(-4px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.fb-icon:active {
  transform: translateY(3px); }

.ig-icon:hover {
  transform: translateY(-4px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.ig-icon:active {
  transform: translateY(3px); }

.pt-icon:hover {
  transform: translateY(-4px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.pt-icon:active {
  transform: translateY(3px); }

.fa-envelope {
  color: #c79fe7;
  width: 25px; }

.fa-whatsapp {
  color: #45b653;
  width: 25px; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem; }

form {
  background-color: #c79fe786;
  padding: .01em 0 1em;
  margin: .5em 0 3.125em;
  box-shadow: 0 0 10px #c79fe786;
  border-radius: 10px; }

.form {
  width: 100%;
  margin: auto; }

.grupo {
  position: relative;
  margin: 2.5em; }

.form__input {
  background: none;
  padding: 0.6em 0.625em 0.625em 0.3125em;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid; }
  .form__input:focus {
    outline: none;
    font-weight: bold;
    font-size: 1.125em;
    border-bottom: 2px solid #fff7f3; }

label {
  font-size: 1.125em;
  position: absolute;
  left: 0.3125em;
  top: 0.625em;
  transition: .4s ease-in-out all;
  pointer-events: none;
  color: #C8E6C9;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253); }

input:focus ~ label,
input:valid ~ label {
  top: -0.875em;
  font-size: 1.0625em;
  color: #fff7f3;
  font-weight: bold; }

.barra {
  position: relative;
  display: block;
  width: 100%; }

.genero,
.edad,
.mensaje {
  padding: 0.5em;
  margin: 0 1.875em; }

.genero__text,
.edad,
.mensaje {
  color: #fff7f3;
  font-weight: bold;
  font-size: 1.0625em;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253); }

textarea {
  border-radius: 3px;
  width: 100%; }

.genero__m,
.genero__o {
  margin-left: 1.25em; }

.edad__select {
  border-radius: 5px; }

.aceptar,
.enviar,
.limpiar {
  margin: 0.9375em 0 0 1.25em; }

.enviar,
.limpiar {
  display: inline-block;
  width: 100px;
  background-color: #fff7f3; }

@media only screen and (max-width: 600px) {
  form {
    width: 75%; } }

.error {
  font-size: 1.6rem;
  background-color: #111855;
  display: flex;
  justify-content: center; }
  .error__img {
    text-align: center;
    margin: 2.5em 0;
    width: 100%;
    height: auto; }
    .error__img__img-size {
      display: flex;
      justify-content: center; }

.link-index {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125em; }

.btn-index {
  font-size: 2.125rem;
  border-radius: 5px;
  width: 11.25em;
  height: 2.5em;
  cursor: pointer;
  background-color: #60a7dd;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold; }
  .btn-index:hover {
    border-radius: 5px;
    color: #60a7dd;
    font-weight: bold;
    background-color: #ffffff;
    transition: .2s; }

@media only screen and (max-width: 767px) {
  .error__img-size {
    width: 80%;
    height: auto; }
  .btn-index {
    width: 50%; } }
