$bannerDesktop-Img: url(../assets/img/nature.jpg);
$bannerMobile-Img: url(../assets/img/natmobile.jpg);


@media only screen and (min-width: 767px) {
    .parallaxMobile {
        display: none;
    }

    .parallax {
        font-size: 1.6rem;
        width: 100%;
        background-image: $bannerDesktop-Img;
        height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-position-y: 50px;
        background-repeat: no-repeat;
        background-size: cover;


        &__title {
            text-align: center;
            padding: 140px 0 25px;
            font-size: $sizeFont-h1 + 0.5rem;
            color: #ffefd5;
            text-shadow: 2px 2px 15px #000000;
        }

        &__text {
            text-align: center;
            color: #ffefd5e0;
            text-shadow: 2px 2px 15px #000000;
            font-size: $sizeFont-h2;
        }

    }
}

@media only screen and (max-width:767px) {
    .parallax {
        display: none;
    }

    .parallaxMobile {
        font-size: 1.6rem;
        width: 100vw;
        background-image: $bannerMobile-Img;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;

        &__title {
            text-align: center;
            padding: 80px 0 0;
            font-size: 20px;
            color: #65b352;
            text-shadow: 2px 2px 15px #65b3528c;
        }

        &__text {
            text-align: center;
            color: #65b352;
            text-shadow: 2px 2px 15px #65b3528c;
            font-size: 18px;
            margin-bottom: 0;
            padding-bottom: 15px;
        }

    }
}