// Suscripcion a Newsletter
.novedades {
    background-color: #fddfdf6b;
    width: 100%;
    height: 85px;
    font-size: 1.6rem;
    padding: 0 0 0 0;
    text-align: center;

    &__text {
        font-size: $sizeFont-h3;
        @include display (inline-flex, center);
        flex-direction: row;
        padding-top: 30px;
        padding-right: 10px;
    }

    &__email {
        color: #ba8be0;
        font-weight: bold;
        @extend .input-text;
    }

    &__submit {
        width: 7.1875em;
        height: 1.875em;
        margin-left: 0.625em;
        @extend .btn;
    }
}

.mt {
    margin-top: -50px !important;
}

@media only screen and (min-width: 1024px) {
    .novedadesMobile {
        display: none;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .novedadesMobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .novedades {
        display: none;
    }

    .novedadesMobile {
        font-size: 1.6rem;
        display: block;
        text-align: center;
        margin: 0 0 30px;

        &__texto {
            font-size: $sizeFont-h4 + 0.4rem;
            text-align: center;
            margin: 30px 0 15px;
            font-weight: bold;
        }
    }
}

//FOOTER SUPERIOR
.footer {
    background-color: $bg-nav;
    padding: 30px 0;
}

.footer.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

//Titulo footer
.contactanos h4,
.redes h4 {
    color: $colFont-nav;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 18px;
}

.contactanos__mail,
.contactanos__ws {
    @media only screen and (min-width: 1024px) {
        font-size: 1.6rem;
        padding-left: 100px;
    }

    @media only screen and (min-width:768px) and (max-width:1023px) {
        font-size: 1.6em;
        padding-left: 0px;
    }

    @media only screen and (max-width:767px) {
        font-size: 1.6em;
        text-align: center;
        padding-left: auto;
    }
}

.contactanos__ws {
    @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.contactanos,
.redes {
    padding: 0 100px;

    @media only screen and (max-width: 767px) {
        padding: 0;
    }
}

.contactanos ul,
.redes ul {
    list-style: none;
    margin-bottom: 0;
}

.contactanos ul li a,
.redes ul li a {
    text-decoration: none;
    color: #000000;
    transition: all .4s ease;
}

.mail-link:hover {
    padding-left: 8px;
    font-weight: bold;
}

.ws-link:hover {
    padding-left: 8px;
    font-weight: bold;
}

.redes__lista {
    display: flex;
    justify-content: space-evenly;
}

//Animacion Iconos Redes Sociales
.fb-icon:hover {
    transform: translateY(-4px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.fb-icon:active {
    transform: translateY(3px);
}

.ig-icon:hover {
    transform: translateY(-4px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.ig-icon:active {
    transform: translateY(3px);
}

.pt-icon:hover {
    transform: translateY(-4px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.pt-icon:active {
    transform: translateY(3px);
}

.fa-envelope {
    color: $colFont-nav;
    width: 25px;
}

.fa-whatsapp {
    color: #45b653;
    width: 25px;
}

// FOOTER INFERIOR
.cr {
    background-color: #f3cccce1;
    font-size: $sizeFont-h4;
    text-align: center;
    padding: 15px;
    margin: 0;

    &__text {
        margin-bottom: 0;
        font-weight: bold;

        @media only screen and (max-width: 767px) {
            font-weight: normal;
        }
    }
}