//Productos Destacados
.prodDest {
    font-size: 1.6rem;
    max-width: 43.75em;
    z-index: 10;
    @media only screen and (max-width:767px) {
        padding-right: 0 !important;
        padding-left: 0 !important;   
    }

    &__text {
        font-size: $sizeFont-h3 + 0.3rem;
        margin: 30px 0px;
        padding: 10px;
        text-align: center;
        color: $colFont-pg-h1;
        text-shadow: 0.110em 0.110em 0.07em #85bd87;
        letter-spacing: 0.125em;
        word-spacing: 0.5em;

        @media only screen and (max-width: 767px) {
            font-size: $sizeFont-h3;
        }
    }
}

//Carousel

.modif{
    box-shadow: 1px 2px 10px 1px #808080;
}

.carousel-title {
    font-size: $sizeFont-h2 - .5rem;
    text-shadow: 1px 1px 10px #000000;
}

.carousel-text {
    font-size: $sizeFont-h4;
    text-shadow: 0px 0px 10px #000000;
}

// Boton de Ver mas
.verMas {
    font-size: 1.6rem;
    margin: 1.875em auto 3.125em;
    padding: 0.25em;
    border-radius: 5px;
    text-align: center;
    border: 5px double #adadad;
    display: block;
    background-color: #FDDFDF;
    position: relative;
    width: 11.25em;

    &__link {
        color: $colFont-nav;
        font-weight: bold;
        transition: all .18s;

        &:hover {
            text-shadow: 2px 2px 5px $colFont-nav;
            color: $colFont-nav;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.125em;
        }
    }
}

//Caracteristicas

.caracteristicas {
    background-color: rgba(255, 255, 255, 0.767);
    border-right: 1px solid #000000;

    @media only screen and (max-width:767px) {
        border-right: 0;
    }
}

.caracteristicas1 {
    background-color: rgba(255, 255, 255, 0.767);
}

.iconMod {
    border-radius: 70px;
    margin: 10px 0 25px;
    padding-top: 10px;

    @media only screen and (max-width:767px) {
        width: 40%;
    }
}

.pMod {
    font-size: $sizeFont-h4;
    padding-bottom: 10px;
}

.mb {
    margin-bottom: 50px;
}

